@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-gray-300: #cbd5e1;
    --color-gray-400: #94a3b8;
    --color-gray-500: #64748b;
    --color-gray-600: #475569;
    --color-gray-700: #334155;
    --color-gray-800: #1e293b;
    --color-gray-900: #0f172a;
    --color-gray-950: #020617;

    --font-sans:
        Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.sortable-ghost {
    background: var(--color-blue-50);
    box-shadow: inset 0 0 0 1px var(--color-blue-300);
}

.sortable-ghost>.border-t {
    border-color: transparent;
}

.sortable-ghost [data-handle] {
    opacity: 0;
}

.ribbon {
    isolation: isolate;
    position: relative;
    --ends-shade: var(--color-red-400);
    --shadow-shade: var(--color-red-500)
}

.ribbon::before,
.ribbon::after,
.ribbon>p::before,
.ribbon>p::after {
    content: '';
    position: absolute;
    display: block;
}

.ribbon::before {
    z-index: -1;
    bottom: -1em;
    left: -2em;
    border: 1.5em solid var(--ends-shade);
    border-left-color: transparent;
}

.ribbon::after {
    z-index: -1;
    bottom: -1em;
    right: -2em;
    border: 1.5em solid var(--ends-shade);
    border-right-color: transparent;
}

.ribbon>p::before {
    bottom: -1em;
    left: 0;
    border-style: solid;
    border-color: var(--shadow-shade) transparent transparent transparent;
    border-width: 1em 0 0 1em;
}

.ribbon>p::after {
    bottom: -1em;
    right: 0;
    border-style: solid;
    border-color: var(--shadow-shade) transparent transparent transparent;
    border-width: 1em 1em 0 0;
}

code {
    color: #800000;
    background: #DDDDDD;
}
